{
    "parser": "babel-eslint",
    "plugins": [
      "react",
      "cypress"
    ],
    "rules": {
      "no-undef": [ 1 ],
    },
    "extends": [
          "plugin:cypress/recommended"
        ]
  }